<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Booking App</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>

<body>
  <div class="container">
    <h1>Appointment Booking App</h1>
    <form id="form">
      <label for="name">UserName:</label>
      <input type="text" id="name" name="name" required placeholder="Enter user name"/> 
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone" placeholder="Enter Phone number" required/>
      <label for="email">E-mail:</label>
      <input type="text" id="email" name="email" placeholder="Enter email"/>
      <button class="btn" type="submit">Add Appointments</button>    
    </form>
    <br><br> 
    <ul id="userList"></ul>
  </div>
  <script src="../index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>  
</body>