<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXPENSE TRACKER</title>
    <link rel="stylesheet" href="style.css">
    <style>
    table, tr, td {
        border:1px solid black;
      }
    </style>
</head>
<body>
    <div class="container">
        <h1>EXPENSE TRACKER APP</h1>
        <form id="form">
            <label for="exp">Expense:</label>
            <input id="exp" name="exp" type="number" required placeholder="enter amount">
            
            <label for="desc">Description:</label>
            <input id="desc" name="desc" type="text" required placeholder="describe in brief">
            
            <label for="cat">Category:</label>
            <select id="cat" name="cat" required placeholder="choose a category" required>
                <option value="">CHOOSE</option>
                <option value="food">Food</option>
                <option value="transport">Transport</option>
                <option value="entertainment">Entertainment</option>
                <option value="shopping">Shopping</option>
                <option value="others">Others</option>
            </select>
            <!-- <input id="cat" name="cat" type="text" required placeholder="Define category"> -->

            <button class="btn" type="submit">SUBMIT</button>
        </form> 
        <hr>
        <ul id="list"></ul>
        <table class="table" id="table">
            <tr>
                <td>Expense</td>
                <td>Description</td>
                <td>Category</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            
        </table>
   </div>
   <script src="../index.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>  

</body>
</html>